[submodule "apps/comfozi.app"]
	path = apps/comfozi.app
	url = https://gitlab.com/blaybus2026-vibe/comfozi.app.git
[submodule "apps/comfozi.approval-ml"]
	path = apps/comfozi.approval-ml
	url = https://gitlab.com/blaybus2026-vibe/comfozi.approval-ml.git
[submodule "apps/comfozi.data-raw"]
	path = apps/comfozi.data-raw
	url = https://gitlab.com/blaybus2026-vibe/comfozi.data-raw.git
[submodule "apps/comfozi.doc-import"]
	path = apps/comfozi.doc-import
	url = https://gitlab.com/blaybus2026-vibe/comfozi.doc-import.git
